@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.menuIcon {
  height: 24px;
  width: 24px;
  background-image: url(/assets/icons/menu.svg);
  background-size: 100%;
}
